@model CartItem


<div class="card rounded-3 mb-4">
    <div class="card-body p-4">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="~/images//Prod_Id_@Model.ProductId/@Model.Img" class="img-fluid rounded-3" alt="Cotton T-shirt" />
            </div>
            <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">@Model.Title</p>
                <p style="color:#777">@Model.Brand</p>
                <p>Price: EGP @Model.ProductPrice</p>
            </div>
            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                

                <input id="@Model.Id" min="0" name="quantity" value="@Model.Qty" type="number"
                       class="form-control form-control-sm" onchange="UpdateCartItem(@Model.Id,this.value)"/>

               
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">EGP @Model.SubTotal</h5>
            </div>
            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a asp-area="Customer" asp-controller="Cart" asp-action="DeleteCartItem" asp-route-id="@Model.Id"  class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>