@model OrderVM
@{
    ViewData["Title"] = "New Order";
}


<div class="container">
    <h3>New Order</h3><hr />
    <h4>Item(s)</h4>
    @foreach (var orderItem in Model.OrderItemsVM)
    {
        <div style="display:flex; gap: 20px">
            <div><img width="50px" height="70px" src="~/images/Prod_Id_@orderItem.ProductId/@orderItem.ProductImage" /></div>
            <div>
                <p>@orderItem.ProductTitle</p>
                <p>@orderItem.ProductBrand</p>
                <p>EGP @orderItem.Price</p>
            </div>
        </div>
    }
    <h4>Address</h4>
    <form method="post" id="PVForm">
        @foreach(var address in Model.Addresses)
        {
            <input onchange="ShowOrderSummaryPV()" type="radio" value="@address.Id" asp-for="ChosenAddressId" /> <small>@address.FullName: @address.City.Name, @address.NearestLandMark   -       EDIT</small>

            <br />

        }
        <p>+ New Address</p>
        <h4>Payment Method</h4>

        <input type="radio" value="@PaymentMethod.COD" asp-for="PaymentMethod" onchange="ShowOrderSummaryPV()" /> <small>COD</small><br />
        <input type="radio" value="@PaymentMethod.VISA" asp-for="PaymentMethod" onchange="ShowOrderSummaryPV()" /> <small>VISA/MASTERCARD</small><br />
        <hr />
        <h4>Coupon</h4>
        <input id="CouponInput" name="Coupon" class="form-control" type="text" placeholder="Example: SUMMER24" /> 
        <input class="btn btn-outline-secondary" onclick="ValidateCoupon()" value="Apply"> <br />
        <small class="text-muted">You can only use one coupon.</small><br />
        <small id="CouponValidation"></small>
    </form>
    <div id="OrderSummaryPV">

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        function ShowOrderSummaryPV() {
            const paymentMethodSelected = document.querySelector('input[name="PaymentMethod"]:checked') !== null;
            const addressSelected = document.querySelector('input[name="ChosenAddressId"]:checked') !== null;
            if (paymentMethodSelected && addressSelected) {
                console.log("both selected");
                var form = $("#PVForm").serialize();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OrderSummaryPV","Order")',
                    data: form,
                    success: function (res) {
                        $('#OrderSummaryPV').html(res);
                    }
                });
            } 
        }
        function ValidateCoupon()
        {
            var code = $('#CouponInput').val();
            var msg;
            $.ajax({
                url: '@Url.Action("ValidateCoupon", "Order")',
                data: { code: code },
                success: function (res) {
                    if (res == 'true') {
                        msg = "Valid Coupon";
                        $('#CouponValidation').css("color", "green");
                    }
                    else{
                        msg = "Invalid Coupon";
                        $('#CouponValidation').css("color", "red");
                    }
                    $('#CouponValidation').html(msg);
                    ShowOrderSummaryPV();
                }
            });
        }
    </script>
}