 @model IEnumerable<Category>


@{
    ViewData["Title"] = "Category List";
}
<div class="mb-4" style="display:flex;justify-content:space-between;align-items:center">
    <h2>Categories</h2>
    <a asp-controller="Category" asp-action="Upsert" class="btn btn-success">Add Category</a>
</div>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Related Products</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Name</td>
                <td>@category.Products.Count</td>
                <td>
                    <a asp-controller="Category" asp-action="Upsert" asp-route-Id="@category.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="Category" asp-action="Delete" asp-route-Id="@category.Id" class="btn btn-danger">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>




@*<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    New Category
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input placeholder="Name" asp-for="Category.Name"/>
                    <span asp-validation-for="Category.Name" class="text-danger"></span>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Category" asp-action="addCat">Add</a>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@
