@model List<UserAddress>

<!-- Button trigger NewAddress -->
<button type="button" onclick="BindModel(0)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddressModal">
    New Address
</button>


@foreach(UserAddress adrs in Model)
{
    <div style="border:2px dotted black;padding:5px;">
        <p>@adrs.FullName</p>
        <p>@adrs.Street</p>
        <p>@adrs.City</p>
        <p>@adrs.NearestLandMark</p>
        <button type="button" onclick="BindModel(@adrs.Id)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddressModal">
            Edit
        </button>
        <button type="button" onclick="ChangeAddressToBeDeleted(@adrs.Id)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAddressModal">
            Delete
        </button>


    </div>
}




<!-- UpsertAddress Modal -->
<div class="modal fade" id="AddressModal" tabindex="-1" role="dialog" aria-labelledby="AddressModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div id="AddressContainer">

           </div>
        </div>
    </div>
</div>
<!-- End Modal -->


<!-- DeleteAddress Modal -->
<div class="modal fade" id="deleteAddressModal" tabindex="-1" role="dialog" aria-labelledby="deleteAddressModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form asp-controller="Account" asp-action="DeleteAddress" method="post">
                    <input type="text" value="" id="AddressToBeDeleted" name="Id" hidden />
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </form>
               
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->







@section Scripts {
    <script type="text/javascript">

        function BindModel(modelId){
            var _url = '@Url.Action("UpsertAddress","Account")'
            $.ajax({
                url: _url,
                data: { Id: modelId },
                success:function(res){
                    $('#AddressContainer').html(res);
                }
            });
        }
        function ChangeAddressToBeDeleted(id)
        {
            $('#AddressToBeDeleted').val(id);
        }

        function ajaxFormSubmit() 
        {
            var model = $('#myform').serialize();
            $.ajax({
                type: "POST",
                url: '@Url.Action("UpsertAddress","Account")',
                data: model,
                success: function (result) {
                    console.log(result);
                    if(result=="")
                    {
                        location.reload();
                    }
                    else
                    {
                        $('#AddressContainer').html(result);
                        $('#AddressModal').modal('show');
                    }
                }
            });
        }
    </script>
}